---
import {
  timeline,
  IEvent,
  referenceYear,
  startPointsDates,
} from "../utils/timeline";

import "../styles/timelineHas.css"

export type ITimelineSpan = "day" | "year";

const getEventTimeByRatio = (
  yearBeforePresent: number,
  timelineSpan: ITimelineSpan,
  startTime: number
) => {
  const startTimeline = startTime;
  const endTimeline = 0;
  const yearsComparedToStart = startTimeline - yearBeforePresent;
  const timeSpanYearEquivalent = startTimeline - endTimeline;
  let spanRatio;
  if (timelineSpan === "day") {
    spanRatio = 24;
  } else if (timelineSpan === "year") {
    spanRatio = 365;
  } else {
    return false;
  }
  const ratioOverTimeSpan =
    (yearsComparedToStart * spanRatio) / timeSpanYearEquivalent;

  if (timelineSpan === "day") {
    return displayHoursMinutesSeconds(ratioOverTimeSpan);
  } else if (timelineSpan === "year") {
    return convertDaysToDate(ratioOverTimeSpan);
  } else if (timelineSpan === "year") {
    console.log("ratio");
  } else {
    return ratioOverTimeSpan;
  }
};

function addDays(date: Date, days: number) {
  const result = date;
  const daysInteger = Math.floor(days);
  const hours = days - daysInteger;

  result.setDate(result.getDate() + daysInteger);
  result.setHours(...timeConvert(hours));
  return result;
}

const convertDaysToDate = (daysNumber: number) => {
  const thisStartOfYearDate = new Date(Date.UTC(2023, 0, 1, 0, 0, 0));
  const adjustedDate = addDays(thisStartOfYearDate, daysNumber);
  return adjustedDate.toLocaleDateString(undefined, {
    month: "long",
    day: "numeric",
  });
};

function timeConvert(hours: number): number[] {
  const hoursToDisplay = Math.floor(hours);
  const minutes = (hours - Math.floor(hours)) * 60;
  const minutesToDisplay = Math.floor(minutes);
  const secondsToDisplay = Math.floor(minutes % 60);
  return [hoursToDisplay, minutesToDisplay, secondsToDisplay];
}

const displayHoursMinutesSeconds = (hours: number): string => {
  const hoursMinSecArr = timeConvert(hours);
  return `${hoursMinSecArr[0]}:${hoursMinSecArr[1]}'${hoursMinSecArr[2]}''`;
};
---

<section class='timeline'>
  <ul role='list' class='timeline' data-timeline-role='timeline'>
    {
      timeline.map((event: IEvent, i) => (
        <li
          data-timeline-role='event'
          data-years={event.dateYearsBeforePresent}
          data-start-fire-compatible={event.dateYearsBeforePresent <= startPointsDates.fire}
          data-start-sapiens-compatible={event.dateYearsBeforePresent <= startPointsDates.sapiens}
        >
          <div class='time text-gradient'>
            {Object.keys(startPointsDates).map( (startKey: any) => (
              <span data-start={startKey} data-unit='years vs present' class='hidden-on-load'>
                {event.dateYearsBeforePresent} before present day
              </span>
              <span data-start={startKey} data-unit='years vs era' class='hidden-on-load'>
                {event.dateYearsBeforePresent < referenceYear
                  ? referenceYear - event.dateYearsBeforePresent
                  : referenceYear - event.dateYearsBeforePresent}
              </span>
              <span data-start={startKey} data-unit='history in a year'>
                {i !== timeline.length - 1
                  ? getEventTimeByRatio(event.dateYearsBeforePresent, "year",  startPointsDates[startKey]) +
                    " " +
                    getEventTimeByRatio(event.dateYearsBeforePresent, "day",  startPointsDates[startKey])
                  : "End of the year, midnight"}
              </span>
              <span data-start={startKey} data-unit='history in a day' class='hidden-on-load'>
                {i !== timeline.length - 1
                  ? getEventTimeByRatio(event.dateYearsBeforePresent, "day",  startPointsDates[startKey])
                  : "midnight"}
              </span>
            ))}
            <span data-unit='history in distance' class='hidden-on-load'>
              Custom distance
            </span>
          </div>
          <div class='title'>
            {event.events.map((evt) => (
              <p>{evt}</p>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
  <div class='vertical-line'></div>
</section>

<style>
  section.timeline {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-rows: 1fr;
  }
  .vertical-line {
    background-color: rgba(var(--green-2-rgb-values) / 0.2);
    width: 2px;
    height: 100%;
    z-index: 0;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  ul {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    padding-left: 0;
    max-width: 100ch;
    margin: 0;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green-1-light);
    z-index: 2;
    border: 1.5px solid rgba(var(--green-2-rgb-values) / 0.2);
    border-radius: 25px;
    padding: 15px;
  }
  .title p {
    text-align: center;
  }
  .hidden-on-load {
    display: none;
  }
</style>
